// Pagina- en sectie-layout (stage, sticky, frame, video, mask)
main {
  width: 100%;
  max-width: 100%;
}

.stage {
  height: 400vh;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  --logo-mask-size: 32vw;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame .video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
  mask-image: url("/robotanics-logo.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--logo-mask-size);
  -webkit-mask-image: url("/robotanics-logo.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: var(--logo-mask-size);
}
